---
import Card from './components/card.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro primer sitio</title>
</head>
<body>
    <Card title="Pichon" author="none"/>
    <Card title="Arkdas" author="josep"/>
    <Card title="Historia" author="Jaama"/>
</body>
</html>